.s-courses {
    padding: 6.4rem 0;
    background-color: var(--bg-gray);

    .container {

        h1 {
            text-align: center
        }

        .courses {
            @include flex(row, flex-start, space-between);
            gap: 1.2rem;

            margin-top: 5.6rem;
    
            .sidebar {
                flex: 1 1 25%;
                max-width: 28rem;
                min-height: 63.2rem;
                
                padding: 2rem 2.4rem 2rem 0;
                border-right: 1px solid rgba(0, 153, 30, .51);
    
                .fields {
                    @include flex(column);
                    gap: 4rem;

                    .search {
        
                        input {
                            box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.10);
                        }
                    }
        
                    .filters {
                        label {
                            font-weight: 700;
                            color: var(--color-green);
                        }
                        
                        select {
                            margin-top: 1.6rem;
                            padding: 1.2rem;
                            border-radius: 8px;
                            width: 100%;
                            box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.10);
                        }
                    }
                }

                .mec-card {
                    margin-top: 4rem;
                }
            }
    
            .main-content {
                flex: 1 1 75%;
                padding: 2rem 2.4rem 2.4rem;
                max-width: 83.2rem;
                min-height: 42.4rem;
                max-height: 63.2rem;
    
                overflow-y: auto;
    
                .card-wrapper {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 3.2rem;
                }
    
                /* width */
                &::-webkit-scrollbar {
                    width: .8rem;
                }
                
                /* Track */
                &::-webkit-scrollbar-track {
                    border-radius: 2px;
                    background-color: transparent;
                }
                
                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: var(--black); 
                    border-radius: 1rem;
                }
                
                /* Handle on hover */
                &::-webkit-scrollbar-thumb:hover {
                    background:rgba(0, 0, 0, .8); 
                }
            }
        }
    }

    @include responsive(lg) {
        .container {

            .courses {
                flex-direction: column-reverse;
                align-items: center;

                .sidebar {
                    width: 100%;
                    min-height: auto;
                    max-width: 100%;

                    .fields {
                        flex-direction: row;
                        align-items: flex-end;
                    }

                    .mec-card {
                        margin: 4rem auto 0;
                    }
                }

                .main-content {
                    width: 100%;
                    max-width: 100%;
                }
            }
        }
    }

    @include responsive(md) {
        padding: 4.8rem 0;

        .container {
            
            .courses {
                margin-top: 3.2rem;
                gap: 3.2rem;
                
                .main-content {
                    max-height: 48rem;
                }
            }
        }
    }

    @include responsive(680px) {

        .container {
            max-width: 52rem;

            .courses {
                .main-content {

                    .card-wrapper {
                        @include flex(column, center, center);

                        .card-course {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    @include responsive(xs) {

        .container {
            .courses {
                .sidebar {

                    .fields {
                        flex-direction: column;
                        align-items: flex-start;

                        .filters {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}