:root {
    // brand colors
    // --color-green: #00991E;
    --color-green: #4caf50;
    --color-green-dark: #147a02;
    --color-gray: #D1C8C8;

    // background colors
    --bg-gray: #f5f5f5;

    // general colors
    --black: #000000;
    --white: #FFFFFF;

    // fonts
    --main-font-1: 'Fira Sans Condensed', sans-serif;
    --main-font-2: 'Roboto', sans-serif;
}