{% extends 'base.html' %}

{% block title %} {{ html_cursos['descricao'] }} {% endblock %}

{% block content %}
    <main>
        <section class="s-main-course">
            <div class="container">

                <nav class="breadcrumb">
                    <ul class="items">
                        {% for label, link in breadcrumb %}
                            <li class="page-item"><a href="{{ link }}">{{ label }}</a></li>
                        {% endfor %}
                        <li class="page-item current">{{ html_cursos['descricao'] }}</li>
                    </ul>
                </nav>
                
                <div class="course-content">
                    <aside class="sidebar">
                        <h1>{{ html_cursos['descricao'] }}</h1>

                        <div class="infos">
        
                            <div class="content-wrapper">
                                <div class="content">
                                    <h4 class="title">Modalidade:</h4>
                                    <p>{{ html_cursos['modalidade'] }}</p>
                                </div>

                                <div class="content">
                                    <h4 class="title">Carga Horária:</h4>
                                    <p>{{ html_cursos['carga_horaria'] }}</p>
                                </div>
                            </div>

                            <div class="content-wrapper">
                                <div class="content">
                                    <h4 class="title">Coordenador:</h4>
                                    <p>{{ html_cursos['coordenador'] }}</p>
                                </div>

                                <div class="content">
                                    <h4 class="title">Diretoria:</h4>
                                    <p>{{ html_cursos['diretoria'] }}</p>
                                </div>
                            </div>
                        </div>
                        
                        <a href="https://emec.mec.gov.br/emec/consulta-cadastro/detalhamento/d96957f455f6405d14c6542552b0f6eb/MTA4Mg==" target="_blank" class="mec-card">
                            <div class="content">
                                <img src="../static/public/assets/images/e-mec-logo.png" alt="MEC" class="logo-mec">
                                <p>Consulte o cadastro do IFRN no Sistema do e-MEC</p>
                            </div>
    
                            <img src="../static/public/assets/images/e-mec-qr-code.png" alt="MEC - qrcode" class="qrcode">
                        </a>
                    </aside>
                    
                    <div class="main-content">
                        <h2>Componentes curriculares</h2>

                        <ul class="components-wrapper">
                            {% for componente in html_cursos['componentes_curriculares'] %}
                            <li><p>{{ componente }}</p></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}